* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
}
html {
  scroll-behavior: smooth;
}

p::selection {
  background-color: #000;
  color: #fff;
}

.container {
  /* background-color: #ddd; */
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.container .image {
  width: 60px;
}
/* stat-components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  margin: 0;
  letter-spacing: -5px;
}

.special-heading + p {
  text-align: center;
  margin: -15px 0px 0px;
  font-size: 20px;
  color: #777;
}
/* end-components */

/* start header section */
.header {
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}

.header .links .icon {
  display: flex;
  flex-wrap: wrap;
  width: 30px;
  justify-content: flex-end;
  z-index: 1;
}

.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}

.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 50%;
  transition: 0.3s;
}
.header .links .icon span:last-child {
  width: 100%;
}

.header .links ul {
  margin: 0;
  list-style: none;
  padding: 0;
  position: absolute;
  right: 0;
  min-width: 200px;
  background: #ddd;
  top: calc(100% + 20px);
  display: none;
  z-index: 1;
}

.header .links ul::before {
  content: "";
  position: absolute;
  border-color: transparent transparent #ddd transparent;
  border-width: 10px;
  border-style: solid;
  right: 5px;
  top: -20px;
}

.header .links:hover ul {
  display: block;
}

.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.header .links ul li a:hover {
  padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #eee;
}
/* end header section */

/* start landing section */

.landing {
  background-image: url(../images/wallpaperbetter.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}

.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 450px;
  max-width: 100%;
}

.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}
.landing .intro-text p {
  font-size: 20px;
  line-height: 1.8;
}
/* end landing section */
/* start features section */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ddd;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  line-height: 1.8;
  color: #777;
  font-size: 17px;
}
/* end features section */

/* start sevices section */
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}

.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}

.services .services-content .srv {
  display: flex;
  margin-bottom: 60px;
}

.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}

.services .services-content .srv .text {
  flex: 1;
}

.services .services-content .srv .text h3 {
  margin: 0 0 20px;
}

.services .services-content .srv .text p {
  color: #777;
  font-weight: 300;
  line-height: 1.8;
}

.services .services-content .imges-services {
  position: relative;
  text-align: center;
}

.services .services-content .imges-services::before {
  content: "";
  background-color: var(--secondary-color);
  position: absolute;
  width: 100px;
  height: calc(100% + 100px);
  right: 0px;
  top: -50px;
  z-index: -1;
}

.services .services-content .imges-services img {
  width: 260px;
  height: 400px;
}
/* strat- .special-media-for this mobila */
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
/* end- .special-media-for this mobila */

/* maybe to use this media  start*/
@media (max-width: 1199px) {
  .services .services-content .imges-services {
    display: none;
  }
}
/* maybe to use this media  end*/

/* end sevices section */

/* START Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #ddd;
}

.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 80px;
}

.portfolio .portfolio-content .card {
  background-color: #fff;
}

.portfolio .portfolio-content .card img {
  max-width: 100%;
}

.portfolio .portfolio-content .card .info {
  padding: 20px;
}

.portfolio .portfolio-content .card h3 {
  margin: 0;
}
.portfolio .portfolio-content .card .info p {
  color: #777;
  line-height: 1.8;
  margin-bottom: 0;
}
/* End Portfolio */

/* start About section  */
.About {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) +60px);
}

.About .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .About .about-content {
    flex-direction: column;
    text-align: center;
  }
}

.About .about-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}

.About .about-content .image img {
  max-width: 100%;
  height: 375px;
}

@media (max-width: 991px) {
  .About .about-content .image {
    margin: 0 auto 60px;
  }
}

.About .about-content .image::before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  background-color: #ddd;
  top: -40px;
  left: -10px;
  z-index: -1;
}
.About .about-content .image::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  right: -150px;
  top: -40px;
  z-index: -1;
  border-left: 100px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
}
@media (max-width: 991px) {
  .About .about-content .image::before,
  .About .about-content .image::after {
    display: none;
  }
}

.About .about-content .text {
  flex-basis: calc(100% - 500px);
}
.About .about-content .text p:first-of-type {
  font-weight: bold;
  margin-bottom: 50px;
  line-height: 2;
  color: var(--secondary-color);
}

.About .about-content .text hr {
  display: inline-block;
  width: 50%;
  border-color: var(--main-color);
}

.About .about-content .text p:last-of-type {
  line-height: 2;
  color: #777;
}
/* end About section  */

/* start contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #ddd;
}

.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}

.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}

.contact .info .link {
  display: block;
  text-decoration: none;
  font-size: 35px;
  font-weight: bold;
  color: var(--main-color);
}

.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 16px;
}

.contact .info .social i {
  margin-left: 10px;
  color: var(--secondary-color);
}

@media (max-width: 767px) {
  .contact .info .link,
  .contact .info .label {
    font-size: 25px;
  }
}
/* end contact */

/* start footer */
.footer {
  background-color: var(--secondary-color);
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.footer span {
  color: var(--main-color);
  font-weight: bold;
}
/* end footer */

/* small */

/* start special-media-for heading  */
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }

  .special-heading + p {
    margin: -10px;
  }
}
/* end special-media-for heading  */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
